**
*

# Source
!client/
!client/src/
!client/src/**/*.cpp
!client/src/**/*.h

!common/
!common/**/*.cpp
!common/**/*.h

!server/
!server/src/
!server/src/**/*.cpp
!server/src/**/*.h

# Misc
!.gitignore
!Makefile
!*.md