**
*

# Source
!client/
!client/src/
!client/src/**/
!client/src/**/*.cpp
!client/src/**/*.h

!common/
!common/**/
!common/**/*.cpp
!common/**/*.h

!server/
!server/src/
!server/src/**/
!server/src/**/*.cpp
!server/src/**/*.h

!tests/
!tests/**/
!tests/**/*.cpp
!tests/**/*.h

# Misc
!.gitignore
!*.md
!Doxyfile
!Makefile